@import '../../variables';

.btn-container {
  height: 40px;
  border-radius: 100px;
  background-color: $primary-color;
  border: none;
  min-width: 120px;
  color: $white;
  font-weight: bold;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  &.sm {
    min-width: 60px;
  }
  .loader {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      height: 25px;
    }
  }
}

.btn-invert {
  height: 40px;
  border-radius: 100px;
  background-color: $white;
  border: none;
  min-width: 120px;
  color: $primary-color;
  font-weight: bold;
  cursor: pointer;
}