@import '../../variables';

.btn-container {
  height: 40px;
  border-radius: 100px;
  background-color: $primary-color;
  border: none;
  min-width: 120px;
  color: $white;
  font-weight: bold;
  cursor: pointer;
  &.sm {
    min-width: 60px;
  }
}

.btn-invert {
  height: 40px;
  border-radius: 100px;
  background-color: $white;
  border: none;
  min-width: 120px;
  color: $primary-color;
  font-weight: bold;
  cursor: pointer;
}