@import '../../../variables';

.container {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-image: url('../../../assets/bck.png');
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: $white;
    padding: 100px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.11);
    .error {
      color: $danger;
      min-width: 250px;
    }
    .logo {
      height: 70px;
      width: 70px;
      margin-bottom: 20px;
    }
    input {
      min-width: 200px;
    }
  }
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}