@import '../../variables';

.craftsContainer {
  padding: 20px;
  .header {
    text-align: center;
  }
  .inputRow {
    display: flex;
  }
  .list {
    display: flex;
    flex-direction: column;
  }
}