@import '../../variables';

.home-container {
  display: flex;
  background: rgba(225,225,240,0.2);
  .content {
    display: flex;
    flex: 8;
    flex-direction: column;
    margin-bottom: 100px;
    .inputs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      input {
        width: 100%;
      }
      textarea {
        min-width: 350px;
      }
      .extra {
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        min-width: 250px;
        justify-content: center;
        .add {
          font-size: 50px;
          height: 50px;
          width: 50px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
        }
      }
      .options {
        height: 30px;
        border: 1px solid $grey;
        box-shadow: none;
        background-color: $white;
      }
      .sample {
        display: none;
      }
      .samples {
        display: flex;
        flex-wrap: wrap;
        border-top: 1px solid $light;
        justify-content: space-evenly;
        min-width: 350px;
        padding-top: 20px;
      }
    }
    h1 {
      text-align: center;
    }
  }
}