@import '../../variables';

.nav-container {
  height: 60px;
  flex-direction: row;
  display: flex;
  background-color: $dark-blue;
  padding: 10px;
  .content {
    flex: 8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .logo {
      height: 50px;
      cursor: pointer;
    }
    button {
      cursor: pointer;
    }
    .white {
      color: $white;
    }
    .right {
      display: flex;
      justify-content: space-around;
      align-items: center;
      div {
        margin-right: 20px;
      }
    }
  }
}