@import '../../variables';

.nav-container {
  height: 60px;
  flex-direction: row;
  display: flex;
  background-color: $primary-color;
  .content {
    flex: 8;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .logo {
      height: 50px;
      margin-bottom: 15px;
    }
    button {
      cursor: pointer;
    }
  }
}