@import '../../variables';

.avatar {
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: 1px solid $light;
  margin-bottom: 30px;
  cursor: pointer;
  color: $light;
  font-size: 50px;
  overflow: hidden;
  .dp {
    height: 100px;
    width: 100px;
    position: absolute;
    border-radius: 100px;
    z-index: -2;
  }
}

.img-selector {
  display: none;
}