$primary-color: #00A3FF;
$white: #fff;
$danger: #D55151;
$light: rgba(0,0,0,0.2);
$border: rgba(0,0,0,0.1);
$black: #000;
$grey: rgba(0,0,0,0.2);
$transparentRed: rgba($color: #D55151, $alpha: 0.2);
$dark-blue: darkblue;