@import '../../variables';

.iconBtnContainer {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 12px;
  border-radius: 100px;
  margin-right: 10px;
  background-color: $grey;
  color: rgba($color: $grey, $alpha: 0.7);
  &:hover {
    opacity: 0.7;
  }
  &.danger {
    background-color: $transparentRed;
    color: $danger;
  }
  &.info {
    background-color: rgba($color: $primary-color, $alpha: 0.1);
    color: $primary-color;
  }
  .loader {
    justify-content:center;
    display:flex;
    color: $grey;
  }
}